{% extends 'base.html.twig' %}

{% block upbar %}
    <p>R</p>
    <p>E</p>
    <p>S</p>
    <p>U</p>
    <p>L</p>
    <p>T</p>
    <p>A</p>
    <p>T</p>
    <p>S</p>
{% endblock %}

{% block title %}Résultat du test{% endblock %}

{% block body %}
    <div class="container level">
        <h4>Vous êtes niveau {{ level }}</h4>
    </div>
{% endblock %}