{% extends 'basebackoffice.html.twig' %}

{% block content %}
    <div class="contenu">
        <section class="icon">
            <blockquote class="page_title">Ajout d'un utilisateur</blockquote>
            <div class="gestionPage">
                {% include '/security/form.html.twig' %}
            </div>
        </section>
    </div>
{% endblock %}
