<h3>Votre compte à bien été enregistré!</h3>

Bonjour {{ username }}, <br><br>

Pour vous connecter, veuillez cliquer sur le lien suivant :<br>
<a href="{{ absolute_url(lien) }}">Valider votre inscription</a><br><br>

Merci.