{% extends 'basebackoffice.html.twig' %}

{% block title %}edit_test{% endblock %}
{% block stylesheet %}
    <style>
        html, body, .page {
            width: 100%;
            height: auto !important;
            margin: 0;
            padding: 0;
            transition: all .3s cubic-bezier(.5, .2, .2, 1.1);
            -webkit-transition: all .3s cubic-bezier(.5, .2, .2, 1.1);
            -moz-transition: all .3s cubic-bezier(.5, .2, .2, 1.1);
            -o-transition: all .3s cubic-bezier(.5, .2, .2, 1.1);
            color: #fff;
        }
        .contenu{
            height: auto !important;;
        }
        .gestionPage {
            width: 80%;
        }
        @media screen and (max-width: 600px) {
            .gestionPage {
                width: 90%;
            }
            .page_title {
                font-size: 18px;
            }
            #nextious {
                margin-left: 30px;
                display: flex;
            }
        }
        @media screen and (max-width: 350px) {
            #previous, #nextious {
                font-size: 12px;
                margin:0px !important;
                width:130px;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="contenu">
        <section class="icon">
            <blockquote class="page_title">Modification du questionnaire</blockquote>
            <div class="gestionPage">
                {% for formulaire in form %}
                    {{ form(formulaire)}}
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
