{% extends 'basebackoffice.html.twig' %}

{% block title %}edit_questions{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block content %}
<div class="contenu">
  <section class="icon">
<blockquote class="page_title">Modification du questionnaire</blockquote>
  <div class="gestionPage">
    {% include '/backoffice/test/form.html.twig' %}
  </div>
  </section>
</div>
{% endblock %}
