{{ form_widget(form.questions.vars.prototype.wording)|e('html_attr') }}
<ul class='answers answers__name__' data-prototype='{{ form_widget(form.questions.vars.prototype.answers.vars.prototype.answer)|e('html_attr') }}'>
    <button type='button' id='answersButton' class='btn promeo-bleu-darken add_tag_link'>Ajouter une réponse</button>
</ul>


