{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block upbar %}
    <p>A</p>
    <p>C</p>
    <p>C</p>
    <p>U</p>
    <p>E</p>
    <p>I</p>
    <p>L</p>
{% endblock %}

{% block body %}
    <div class="">
        <h1 class="">
            Plateforme <br><span class="tred">A</span>nalyse<br><span class="tred">D</span>es<br><span
                    class="tred">B</span>esoins en formation langues<br>
        </h1>
    </div>

    <div class="news newsAccueil">
        {{ home|raw }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    $('html, body').animate({
        scrollTop: ($('.newsAccueil').offset().top)
    },500);
    </script>
{% endblock %}
