{% extends 'basebackoffice.html.twig' %}


{% block content %}
<section class="home">
    <img class="label-center" style="height: 100px" src="{{ asset('img/adb.svg') }}"></img>
</section>
{% endblock %}
