{% extends 'basebackoffice.html.twig' %}

{% block title %}Modifier le centre{% endblock %}

{% block content %}
<div class="contenu">
  <section class="icon">
<blockquote class="page_title">Modification du centre</blockquote>
  <div class="gestionPage">
    {% include '/backoffice/locations/form.html.twig' %}
  </div>
  </section>
</div>
{% endblock %}
