{% extends 'basebackoffice.html.twig' %}

{% block content %}
    <div class="contenu">
        <section class="icon">
            <span class="title">Niveaux</span>
            <table id="lvl" class="stripped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                {% for lvl in level %}
                    <tr>
                <td>
                    {{ lvl.name }}
                </td>
                <td>
                    <a href="{{ path('admin_level_update', { 'id': lvl.id })}}" class="btn waves-effect blue" name="validate"><i class="material-icons right">edit</i>MODIFIER</a>
                </td>
                </tr>
                {% endfor %}
                </tbody>
                </tr>
            </table>
        </section>
    </div>
{% endblock %}
