{% extends 'basebackoffice.html.twig' %}

{% block title %}Ajouter un nouveau contact{% endblock %}

{% block content %}
<div class="contenu">


  <section class="icon">
    <blockquote class="page_title">Ajout d'un contact</blockquote>
  <div class="gestionPage">
    {% include '/backoffice/contact/form.html.twig' %}
  </div>
  </section>
</div>
{% endblock %}
