{% extends 'basebackoffice.html.twig' %}

{% block title %}Modifier le contact{% endblock %}

{% block content %}
<div class="contenu">
  <section class="icon">
<blockquote class="page_title">Modification du contact</blockquote>

  <div class="gestionPage">
    {% include '/backoffice/contact/form.html.twig' %}
  </div>
  </section>
</div>
{% endblock %}
